@using WebApplication4.Models
@model Employee

<h4> Selected Employee Details</h4>
<div>
    Employee No : @Model.EmpNo<br/>
    Employee Name : @Model.Ename<br/>
    Job : @Model.Job<br/>
    Salary : @Model.Salary<br/>
    Department No : @Model.DeptNo<br/>
</div>
<hr/>
<a href="/Employee/Index">Back To Home Page</a>